{
  "presets": ["next/babel"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": [
          "./"
        ],
        "alias": {
          "comps": "./components",
          "pages": "./pages",
          "redux": "./redux",
          "utils": "./utils",
          "styles": "./styles"
        }
      }
    ],
    ["babel-plugin-styled-components"]
  ]
}
